<!DOCTYPE html>
<html ng-app="fileUploadApp" ng-controller="fileUploadCtrl">
<head>
<title>sah1 view</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/v/lib/css/bootstrap.css">
<link href="/v/css/w3c-bs-company.css" rel="stylesheet" type="text/css">
<link href="/v/css/w3c-bs-company-002.css" rel="stylesheet" type="text/css">
<link href="/v/css/w3c-bs-company-003.css" rel="stylesheet"type="text/css">
<link href="/v/css/w3c-bs-company-004.css" rel="stylesheet"type="text/css">
<script style="" src="/v/lib/js/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src="/v/lib/js/angular.min.js"></script>
<script type="text/javascript" src="/v/lib/js/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/v/lib/js/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/v/lib/js/textAngular.min.js"></script>

<script type="text/javascript" src="/v/lib/js/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="/v/lib/js/ng-file-upload.min.js"></script>

</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="60">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/v/home"> <span
					class="glyphicon glyphicon-home" aria-hidden="true"> </span> САХ /
				</a>
				<a class="navbar-brand" title="до початку сторінки" href="#top"><span
					class="glyphicon glyphicon-chevron-up"></span></a>

			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<form name="myForm">
			<fieldset>
				<legend>
					Загрузка файлів на сайт: 
				</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="inputFile">Файл пошук:</label> <input type="file"
								class="btn btn-info btn-default" id="inputFile" ngf-select
								ng-model="picFile" name="file" ng-change="setFile(this)"
								accept=".pdf,image/*" ngf-max-size="2MB" required> <i
								ng-show="myForm.file.$error.required">*обов’язковий</i><br>
							<i ng-show="myForm.file.$error.maxSize">Файл занадто великий
								{{picFile.size / 1000000|number:1}}MB: максимум 2Mb</i> <img
								ng-show="myForm.file.$valid" ngf-thumbnail="picFile"
								class="thumb">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="inputFile">Відправка:</label><br />
							<button class="btn btn-info btn-default"
								ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Відправити</button>
							<button class="btn btn-default" ng-click="picFile = null"
								ng-show="picFile">Видалити</button>
						</div>
					</div>
					<div class="col-md-4 alert alert-warning">
						<strong>До уваги!</strong> Ім’я файла тільки латинськими літерами
					</div>
				</div>

				<span class="progress" ng-show="picFile.progress >= 0">
					<div style="width: {{picFile.progress"
						ng-bind="picFile.progress + '%'"></div>
				</span> <span ng-show="picFile.result">Upload Successful</span> <span
					class="err" ng-show="errorMsg">{{errorMsg}}</span>
			</fieldset>
			<hr/>
			<div class="row">
				<div class="col-md-3">
					<ul>
						<li ng-if="$index % 4 == 0"
							ng-repeat="f in publicFiles.files"><a href="/v/f/{{f}}">
								{{f}} </a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li ng-if="$index % 4 == 1"
						 ng-repeat="f in publicFiles.files"><a
							href="/v/f/{{f}}"> {{f}} </a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li ng-if="$index % 4 == 2"
						 ng-repeat="f in publicFiles.files"><a
							href="/v/f/{{f}}"> {{f}} </a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li ng-if="$index % 4 == 3" ng-repeat="f in publicFiles.files"><a
							href="/v/f/{{f}}"> {{f}} </a></li>
					</ul>
				</div>
			</div>
		</form>
	</div>

	<!-- Нижня меню частина -->
	<div class="container-fluid">
		<div class="row  bg-grey">
			<div class="col-sm-1 form-group">
				<span class="glyphicon glyphicon-console" aria-hidden="true"></span>
			</div>
			<div class="col-sm-11 form-group">
				<a class="btn btn-default  disabled" href="/html/sah1-file-load.html">
					Загрузка файлів </a> <a class="btn btn-default" href="/e/sah1.html">
					Редагування сторінки </a> <a href="/endlogin"
					class="btn btn-default pull-right"
					title="завершити логін для редагування даних на сайті"> <span
					class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	<footer class="container-fluid text-center">
		<a href="#myPage" title="To Top"> <span
			class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Сайт САХ створено <a href="http://algoritmed.com/"
				title="Visit w3schools">www.algoritmed.com</a>
		</p>
	</footer>

	<script type="text/javascript" src="/v/js/js3.js"></script>
	
</body>
</html>