<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Завершити логін</title>
    </head>
    <body>
    <a href="/">Стартова сторінка</a>
        <h1 th:inline="text">Завершити логін [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Відписались"/>
        </form>
    </body>
</html>